*
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 0;
	padding: 0;

}
header
{
	background: #000000;
	height: 62px;


}
.container
{
	width: 85%;
	margin: auto;
	overflow: hidden;
	
}

#nav1
{
	float: left;
	position: absolute;
}
#nav1 ul 
{
	list-style: none;
	padding-top: 22px;
}
#nav1 ul ul
{
	display: none;
	

}
#nav1 ul.drop-menu li
{
	
	padding-top: 10px;
	font-size: 10px;
	width: 200px;
	height:25px;
	padding-left: 17px;
	margin-top: 0px;
	

}

#nav1 ul li:hover> ul.drop-menu 
{
	display: block;
	
}
#nav1 ul li:hover> ul.drop-menu li
{
	
	animation-name: menu;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	
	
}
@keyframes menu
{
	from
	{
		margin-top: 30px;
		opacity: 0;
	}
	to
	{
		margin-top: 0px;
		opacity: 1;
	}
}
#nav1 ul ul li
{
	width: 100px;
	background: #000;
	height: 30px;
	margin-top: 20px;
	
	
}
#nav1 ul.drop-menu1 li
{
	background: #000;
	color: #fff;
	width: 320px;
	height: 190px;
	
	margin-top: 0px;
}


#nav1 ul.drop-menu1 li button
{
	width: 150px;
	height: 25px;
	margin-top: 20px;
	border-radius: 20px;
	background: #ff8800;
	border: none;
	margin-bottom: 10px;
	color: #fff;	
}
#nav1 ul.drop-menu1 li button:hover
{
	background: #fff;
	color: #000;
}
::-webkit-input-placeholder
{
	opacity: 0.3;
}
#nav1 ul.drop-menu1 li input
{
	width: 200px;
	height: 30px;
	margin-top: 20px;
	
	border-radius: 20px;
	border: 1px solid #fff;
	text-align: center;
}

#nav1 ul li#review
{
	width: 130px;
	text-align: center;
	padding-left: 30px;

}
#nav1 ul li#review:hover> ul.drop-menu1
{
	display: block;
	

}
#nav1 ul li#review:hover> ul.drop-menu1 li
{
	
	animation-name: login;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	
	
}
@keyframes login
{
	from
	{
		margin-top: 200px;
		
		opacity: 0;
	}
	to
	{
		margin-top: 0px;
		opacity: 1;
	}
}
#nav1 ul li
{
	color: #fff;
	    font-family: 'Source Sans Pro';
    font-size: 11px;
	width: 79.5px;
	float: left;


}
#nav1 a
{
	color: #fff;
	text-decoration: none;
}
#nav1 a:hover
{
	opacity: 0.7;
}
#nav2
{
	float: right;

	
}

#nav2 ul 
{
		list-style: none;
	padding-top: 22px;
}
#nav2 ul li
{
	width: 30px;
	float: left;
	padding-right: 5px;
	color: #fff;
	    font-family: 'Source Sans Pro';
    font-size: 11px;
}
#nav2 #fl
{
	width: 75px;

}

#nav2 img
{
	border-radius: 100%;
	width: 23px;
	background: #fff;
}
#nav2 a:hover
{
	opacity: 0.6;
}
#s1 h1
{
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
	font-family: 'Agency FB';
	color: #525252;
	letter-spacing: 2px;
}
#s1 h5
{
	text-align: center;
	font-family: 'Agency FB'

}
#s1 hr
{
	width: 100%;
	margin: 40px auto;
	border: 0.5px solid #cccccc;
}
#s2 
{
	padding-bottom: 20px;
}
#nav3
{
	
	width: 75%;
	
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
	height: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	position: absolute;
	margin-left: 200px;
}

#nav3 ul
{
	
	padding-left: 45px;
	list-style: none;
	margin-bottom: 0px;
		

}
#nav3 ul ul
{
	display: none;
	margin-top: 30px;
	margin-left: -60px;
}
#nav3 ul.drop-menu li
{
	
	background: #3dace3;
	width: 200px;
	height:30px;
	border-bottom: 0.1px solid #cccccc;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	overflow: hidden;



}
#nav3 ul.drop-menu a
{
	
	color: #fff;
	
}
#nav3 ul.drop-menu li:hover
{
	
	opacity: 0.6;
	transition: 0.2s;
	
}
#nav3 ul li:hover> ul.drop-menu 
{

	display: block;
	

	
}
#nav3 ul li:hover> ul.drop-menu li
{
	
	animation-name: menu1;
	animation-duration: 200ms;
	animation-timing-function: ease-in;

	
}

@keyframes menu1
{
	from
	{
		
		opacity: 0;
	}
	to
	{
		
		opacity: 1;
	}
}
#nav3 ul li
{
	width: 170px;

	float: left;
	text-align: center;
	
}

#nav3 a
{
	
	text-decoration: none;
	color: #000;
}
#nav3 a:hover
{
	border-bottom: 1px solid #3dace3;
	color: #16e0ff;
	transition: 0.1s;
	padding-bottom: 5px;
}
#s3
{
	max-height: 400px;
	margin-bottom: 100px;

	margin-top: 40px;
	background-repeat: no-repeat;

}
#s3 a:hover
{
	opacity: 0.7;
	transition: 1s;
}

#s4
{
	width: 90%;
	margin: auto;
	text-align: justify;
	margin-top: 50px;
	overflow: none;
	

}
#s4 h1
{
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
	font-family: 'Agency FB';

}
#a1
{
	float: left;

}
#a1 .p
{
	margin-top: 5px;
	padding-top: 20px;
	width: 60%;
	font-family: 'Helvetica';
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 20px;
	
	
}
#s4 #p1, #p2, #p3
{
	text-indent: 50px;
}
span
{
	font-size: 55px;
}

#as1
{
	width: 35%;
	float: right;
	margin-top: -550px;
	margin: 30;
	
	

}
#as1 #a2
{	
	font-family: 'Arial';
	
	text-indent: 30px;
	line-height: 20px;
	text-align: center;
	background: #000;
	color: #fff;
	padding:15px;
}
#s4 hr
{
	margin-top: 20px;
	width: 80%;
	margin: 50px auto;
}
#as1 #a3
{
	border: 1px solid #cccccc;
	margin: 10px auto;
	height: 145px;
	text-align: center;
}
#as1 #a3 h3
{
	margin: 20px auto;
}
#as1 #a3 hr
{
	margin-top: 10px;
}
#as1 #a3 ul
{
	margin-left: 90px;
	list-style: none;
	margin-top: -40px;
}
#as1 #a3 ul li 
{
	
	
	float: left;
	margin-left: 10px;
}
#as1 #a3 img
{	
	width: 50px;
	border-radius: 100%;
}
#as1 #a3 a:hover
{
	opacity: 0.6;
	transition: 0.5;

}

#s5
{
	width: 72%;
	margin: auto;

}
#s5 .tdata
{
	text-align: center;
	width: 40%;
	
	padding: 20px;


	
}
#s5 h3
{
	margin-top: 10px;
	font-family: 'Agency FB';
	color: #0471ff;
}
#s5 p
{
	margin-top: 10px;
	font-size: 14px;
}
#s6 
{
	background: url('assets/imgs/airway.jpg');
	height: 530px;
	
  
}
#s6 h1
{
	font-size: 50px;
	font-family: 'Agency FB';
	color: #fff;
	text-align: center;
	margin-top: 30px;
}

#s6 img
{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100px;
	border-radius: 100%;
}
#s6 .boxes
{
	float: left;
	margin-left: 90px;
	margin-top: 20px;
	padding-left: 10px;

}

.container4
{
	
	width: 80%;
	margin:auto;
	
}

#s6 h3
{
	font-size: 13px;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
#s6 hr
{
	width: 80%;
	margin-left: 120px;
	color: #000;

}
#s7
{
	width: 80%;
	margin: 50px auto;
	text-align: left;
}

#s7 input
{
	text-align: center;
	width: 300px;
	margin-top: 20px;
	height: 50px;
	border: none;
}
#s7 h1
{
	font-family: 'Agency FB';
	font-size: 40px;
	letter-spacing: 3px;
	color: #525252;
	margin-left: 85px;
}
#s7 .container5
{
	padding-top: 20px;
	width: 400px;
	height: 220px;
	margin-top: 20px;
	text-align: center;

	background: #f2f2f2;
	border: 1px solid #cccccc;
}
#s7 input[type=button]
{

	font-size: 16px;
	font-family: 'Arial';
	background: #000;
	color: #fff;
	border-radius: 20px;
}
#s7 input[type=button]:hover
{
	
	transition: 0.5s;
	opacity: 0.7;

}
#s7 #container7
{
	width: 40%;
	margin: auto;
	float: right;
	margin-top: -330px;
	margin-left: 20px;
	text-align: justify;
	border-left: 1px solid #f2f2f2;
	box-shadow: 5px red;

}
#s7 #container7 #title
{
	font-family: 'Arial';
	background: #000;
	color: #fff;
	font-size: 23px;
	text-align: center;
	padding:10px;
	margin-bottom: 20px; 
}
#s7 #container7 p
{
	color: #bfbfbf;
	margin: 20px 20px 0px 20px;

	
}
#s7 #container7 ul
{

	list-style: none;
}
#s7 #container7 ul li
{
		border-bottom: 1px solid #cccccc;
		padding: 10px;

}
#s7 #container7 a
{
	text-decoration: none;
	color: red;
	font-family: 'Source Sans Pro';
	margin-left: 10px;

	
}
#s7 #container7 a:hover
{
	opacity: 0.3;

	
}
#s7 #container7 img
{
	width: 20px;
	margin-top: 10px;
	margin-right: 10px;
}
footer
{
	background: #000;
	color: #fff;
	font-family: 'Source Sans Pro';
	height: 50px;
	margin-top: 70px;
	font-size: 15px;
	text-align: center;

}
footer p
{
	padding-top: 20px;
}
